aniso8601==8.1.1
appdirs==1.4.4
cffi==1.14.4
click==7.1.2
cryptography==3.2.1
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.2
jwt==1.1.0
MarkupSafe==1.1.1
pdfminer==20191125
pycparser==2.20
pycryptodome==3.10.1
pytz==2021.1
singleton==0.1.0
six==1.15.0
virtualenv==20.4.2
Werkzeug==1.0.1
